*{
  margin-bottom:0; 
}

.navbar-brand p {
  font-family: 'JetBrains Mono', monospace;
    color:maroon ;
    font-size: 200%;
    text-transform: uppercase!important;
    font-weight: bold;
    text-shadow: 1px 1px 1px pink;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .65;
}
.navbar-brand h2{
  font-family: 'JetBrains Mono', monospace;
    color:white ;
    text-align: center;
    font-size: 100%;
    text-transform: uppercase!important;
   
    margin-top: 10px;
    margin-bottom: 0;
    line-height: .85;


}


.nav-item a{
  float:left;
}


.extra{
     background: #c34d64;
     color: white;

}
.carousel-inner img {
    width: 100%;
    height: 20%;
  }
p{
  font-family: 'Oxygen', sans-serif; 
  text-align: center;
  font-size: 200%;
  text-decoration-color: white;
  margin-bottom: 0;
  margin-top:0; 
  
}
h6{
  text-align: center;
  margin-top: 0px;
}
  
  h1{
  position: absolute;
    bottom: 3%;
    right: 4%;
    width: 91.8%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #113118;
    color: #fff;
    opacity: .8;
 }
 #image{
  padding-bottom: 10px;
  
 }
 #change{
  margin-top: 40px;
 }

 #a {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;

  }

  #a:hover {
    box-shadow: 0 1px 5px 1px white;
}

  @media (max-width:918px ) and (min-width:768 px) {
    h1{
  position: absolute;
    bottom: 3%;
    right: 3.7%;
    width: 95%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #113118;
    color: #fff;
    opacity: .8;
 }
  
}

@media (max-width:767px ) and (min-width: 530px) {

    h1{
  position: absolute;
    bottom: 3%;
    right: 2.1%;
    width: 95.5%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #113118;
    color: #fff;
    opacity: .8;
 }

 .navbar-brand p {
  font-family: 'JetBrains Mono', monospace;
    color:maroon ;
    font-size: 170%;
    text-transform: uppercase!important;
    font-weight: bold;
    text-shadow: 1px 1px 1px pink;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand h2{
  font-family: 'JetBrains Mono', monospace;
    color:white ;
    text-align: center;
    font-size: 60%;
    text-transform: uppercase!important;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;


}
  
}
@media (max-width: 530px) {
   .navbar-brand p {
  font-family: 'JetBrains Mono', monospace;
    color:maroon ;
    font-size: 150%;
    text-transform: uppercase!important;
    font-weight: bold;
    text-shadow: 1px 1px 1px pink;
    margin-top: 1%;
    margin-bottom: 0;
    line-height: .5;
}
.navbar-brand h2{
  font-family: 'JetBrains Mono', monospace;
    color:white ;
    text-align: center;
    font-size: 60%;
    text-transform: uppercase!important;
   
    margin-top: 10px;
    margin-bottom: 0;
    line-height: .85;


}
}